<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string></string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947590415782-n8vg2du4ragr3kee8j8h4fafgpacfqeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947590415782-n8vg2du4ragr3kee8j8h4fafgpacfqeu</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgYpKYnHpqT9JHfJGsEAJq_77Shh1tco</string>
	<key>GCM_SENDER_ID</key>
	<string>947590415782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.lbrouckm.AlarmCharm</string>
	<key>PROJECT_ID</key>
	<string>project-5208532535641760898</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5208532535641760898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:947590415782:ios:410c46d0abb03e03</string>
	<key>DATABASE_URL</key>
	<string>https://project-5208532535641760898.firebaseio.com</string>
</dict>
</plist>
